<app-navbar></app-navbar>
<h2 style="text-align: center">prediccion de lanzamiento del Jugador</h2>
<div class="container">
  <div class="datos">

  <div class="datos">
    <div class="form-group">
      <label for="jugador">Seleccionar Jugador rival:</label>
      <select
        id="jugador"
        class="form-control"
        [(ngModel)]="formulario.jugadorId"
        name="jugador"
        (change)="onJugadorSelect()"
      >
        <option *ngFor="let jugador of jugadores" [value]="jugador.idJugador">
          {{ jugador.nombre }}
        </option>
      </select>

      <label for="rival">Seleccione un equipo:</label>
      <select
        id="rival"
        class="form-control"
        [(ngModel)]="formulario.equipoRivalId"
        name="equipoRival"
      >
        <option *ngFor="let equipo of equipos" [value]="equipo.idEquipo">
          {{ equipo.nombre }}
        </option>
      </select>

      <label for="sede">Selecciona la sede del equipo:</label>
      <select
        id="sede"
        class="form-control"
        [(ngModel)]="formulario.sede"
        name="sede"
      >
        <option value="sede">Local</option>
        <option value="visitante">Visitante</option>
      </select>

      <label for="arranque">Seleccione si el equipo inicia el juego:</label>
      <select
        id="arranque"
        class="form-control"
        [(ngModel)]="formulario.inicioJuego"
        name="inicioJuego"
      >
        <option value="si">Sí inicia</option>
        <option value="no">No inicia</option>
      </select>
    </div>




    <div class="marcador">
      <label for="minuto">Seleccione el minuto del partido:</label>
      <input
        type="number"
        id="minuto"
        class="form-control"
        [(ngModel)]="formulario.minuto"
        name="minuto"
        min="0"
        max="90"
      />

      <label for="ronda">Seleccione la ronda:</label>
      <select
        id="ronda"
        class="form-control"
        [(ngModel)]="formulario.ronda"
        name="ronda"
      >
        <option value="regular">Regular</option>
        <option value="cuartos">Cuartos de final</option>
        <option value="semifinal">Semifinal</option>
        <option value="final">Final</option>
      </select>

      <br /><br />
      <table>
        <tr>
          <td>
            <p>
              {{
                getEquipoNombre(formulario.jugadorId) ||
                  "Equipo no seleccionado"
              }}
            </p>
            <br />
            <img
              *ngIf="formulario.jugadorId"
              src="../../../assets/EQUIPOS/{{
                getEquipoNombre(formulario.jugadorId)
              }}.png"
              alt=""
              width="80%"
              height="300px"
            />
          </td>
          <td>
            <p>
              {{
                getEquipoNombre(formulario.equipoRivalId) ||
                  "Rival no seleccionado"
              }}
            </p>
            <br />
            <img
              *ngIf="formulario.equipoRivalId"
              src="../../../assets/EQUIPOS/{{
                getEquipoNombre(formulario.equipoRivalId)
              }}.png"
              alt=""
              width="80%"
              height="300px"
            />
          </td>
        </tr>
        <tr>
          <td>
            <input type="number" class="form-control" [(ngModel)]="formulario.marcadorF">
          </td>
          <td>
            <input type="number" class="form-control" [(ngModel)]="formulario.marcadorC">
          </td>
        </tr>
      </table>
    </div>
  </div>
  </div>
  <!-- 
  <form (ngSubmit)="procesarFormulario()">
   


   


  </form> -->
  <div class="porteria">
    <img src="../../../assets/Porterias/P{{resultado}}.png" alt="" width="600px" height="450px">
  </div>

</div>
<div style="text-align: center;">  <button (click)="procesarFormulario()" class="btn btn-primary mt-3">Mostrar predicción</button><button class="btn btn-primary mt-3" style="margin-left: 10px;" (click)="reload()">reiniciar prediccion</button>
</div>
