<div class="container" id="container">
  <div class="form-container sign-in">
    <div class="form">
      <h1>Iniciar sesion</h1>
      <form [formGroup]="form" (ngSubmit)="login()">
        <table style="width: 100%;">
          <tr>
            <td><i class="fa-solid fa-envelope"></i></td>
            <td><input type="email" formControlName="email" placeholder="Email" /></td>
          </tr>
          <tr>
            <td><i class="fa-solid fa-lock"></i></td>
            <td><input type="password" formControlName="password" placeholder="contraseña" /></td>
          </tr>
        </table>
        <button type="submit" class="button" [disabled]="form.invalid || loading">INICIAR SESION</button>
      </form>
    </div>
  </div>
  <div class="toggle-container">
    <div class="toggle">
      <div class="toggle-panel toggle-right">
        <div class="icon"></div>
        <a routerLink="/registro" class="hidden" id="register" style="margin-top: 20px;font-size: 20px;">REGISTRARSE</a>
      </div>
    </div>
  </div>
</div>
