.table {
    color: white;
    font-size: 16px;
    background-color: #6295baaf;
    border-radius: 25px;
    width: 100%;
}
tbody tr:active {
    background-color: #77aee0;
    animation-delay: 50s;
}
.tabla {
    justify-content: center;
    display: grid;
    grid-template-columns: 60% 30%;
}
.derecha {
    width: 100%;
    margin-left: 30px;
    display: grid;
    grid-template-rows: 50% 50%;
}
.foto {
    width: 100%;
    height: 98%;
    background: #fff;
    border: 5px solid #6295baaf;
    margin-bottom: 30px;
    border-radius: 25px;
}
.foto img {
    width: 60%;
    height: 100%;
    margin: 0 20%;
}
.foto img:hover {
    transform: scale(1.05);
}
.estadisticas {
    height: 338px; /* Altura fija para mantener consistencia */
    border: 5px solid #6295baaf;
    border-radius: 25px;
    overflow-y: auto; /* Agrega la barra de desplazamiento vertical */
    overflow-x: hidden; /* Evita desplazamiento horizontal */
    padding: 5px;
}
.table-responsive {
    width: 100%;
    height: 100%; /* Asegura que ocupe todo el espacio disponible */
}
